<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="0828047f-cb34-4e5f-b7bc-64157ddc7467" activeEnvironment="Default environment" name="Demo2019" resourceRoot="" soapui-version="5.5.0" abortOnError="false" runType="SEQUENTIAL" encryptionMode="Not encrypted" updated="3.2.7" compositeProjectFormat="1.3" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:properties><con:property><con:name>id</con:name><con:value>435</con:value></con:property></con:properties><con:wssContainer/><con:databaseConnectionContainer/><con:jmsConnectionContainer/><con:oAuth2ProfileContainer/><con:oAuth1ProfileContainer/><con:authRepository/><con:tags/></con:soapui-project>