<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="19230712-722b-454f-bb13-38389b28c24b" name="AddEmployee" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="19230712-722b-454f-bb13-38389b28c24bfileName">AddEmployee</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>name</con:name><con:value>keaton2</con:value></con:property><con:property><con:name>id</con:name><con:value>345</con:value></con:property><con:property><con:name>dept</con:name><con:value>enc</con:value></con:property><con:property><con:name>age</con:name><con:value>21</con:value></con:property><con:property><con:name>phone</con:name><con:value>793817293</con:value></con:property><con:property><con:name>policy</con:name><con:value>098321132</con:value></con:property><con:property><con:name>SSN</con:name><con:value>3123124434</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>